:root {
	--byui-blue: rgb(0, 118, 182);
}

body {
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
}

header {
}
header > img.logo {
	vertical-align: bottom;
	margin: 1em 2em 0 1em;
	width: 3em;
}

header > ul.tabs {
	display: inline;
	list-style-type: none;
	margin: 0 0 1em 0;
	padding: 0;
}
header > ul.tabs > li {
	display: inline-block;
	margin: 0;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid var(--byui-blue);
	border-left: none;
	padding: 0.25em 0.5em;
	cursor: pointer;
}
header > ul.tabs > li.selected {
	border-top: 2px solid var(--byui-blue);
	border-right: 2px solid var(--byui-blue);
	border-bottom: none;
	border-left: 2px solid var(--byui-blue);
}

div.frag {
	display: none;
}
div.frag.selected {
	display: block;
}

div.frag > form {
	display: grid;
	grid-gap: 1em 1em;
	grid-template-columns: max-content 20em;
}
div.frag > form label {
	text-align: right;
}

table > thead > tr > th {
	vertical-align: bottom;
	text-align: center;
}
table > tbody > tr > td {
	vertical-align: top;
}
table > tbody > tr > td.number {
	padding-right: 1em;
	text-align: right;
}

#receiving table > thead > tr > th[name="product_id"],
#receiving table > tbody > tr > td[name="product_id"],
#outgoing table > thead > tr > th[name="product_id"],
#outgoing table > tbody > tr > td[name="product_id"] {
	display: none;
}

input[type="number"] {
	width: 5em;
	text-align: right;
}
input:invalid {
	background-color: lightpink;
}

div.controls {
	margin: 1em 0 0 2em;
}
div.controls > button {
	border-radius: 20%;
	color: white;
}
div.controls > button[name="submit"] {
	background-color: seagreen;
}
div.controls > button[name="clear"] {
	background-color: crimson;
}
